{% extends "mobile/base.html" %}
{% block content %}
<div class="card">
    <h3>İlan Robotu</h3>
    <p style="color:#90a4ae; font-size:13px; margin-bottom:14px;">İlan oluşturma ve yayınlama işlemleri masaüstü ekranında daha rahat yapılır. Aşağıdaki butonla tam sürüme geçebilirsiniz.</p>
    <a href="/ilan-robotu/" class="btn btn-blue btn-block"><i class="fa fa-external-link-alt"></i> Masaüstü İlan Robotu</a>
</div>
<div class="card">
    <h3>Mobilde yapılabilecekler</h3>
    <ul style="color:#b0bec5; font-size:13px; padding-left:18px; line-height:1.8;">
        <li>Aktif ilan sayısını görüntüleme</li>
        <li>Yenileme / üste taşıma (masaüstü link)</li>
        <li>Lead bildirimleri (yakında)</li>
    </ul>
</div>
{% endblock %}
