{% set ns = namespace(parts=['intent=' ~ ((social_intent or 'login')|urlencode)]) %}
{% if social_module %}{% set ns.parts = ns.parts + ['module=' ~ (social_module|urlencode)] %}{% endif %}
{% if social_tier %}{% set ns.parts = ns.parts + ['tier=' ~ (social_tier|urlencode)] %}{% endif %}
{% if social_mode %}{% set ns.parts = ns.parts + ['mode=' ~ (social_mode|urlencode)] %}{% endif %}
{% if social_modules %}{% set ns.parts = ns.parts + ['modules=' ~ (social_modules|urlencode)] %}{% endif %}
<div class="social-auth-pair">
  <a class="gsi-material-button" href="/auth/google?{{ ns.parts|join('&') }}">
    <span class="gsi-material-button-icon" aria-hidden="true">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
        <path fill="none" d="M0 0h48v48H0z"></path>
      </svg>
    </span>
    <span class="gsi-material-button-contents">Google ile devam et</span>
  </a>
  <a class="fb-continue" href="/auth/facebook?{{ ns.parts|join('&') }}">
    <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
      <path fill="#fff" d="M15.1 8.5h-2.1V7.1c0-.5.3-.6.6-.6h1.5V4.1L12.9 4c-2.3 0-2.8 1.7-2.8 2.8v1.7H8.2V11h1.9v9h2.9v-9h2l.1-2.5z"/>
    </svg>
    <span>Facebook ile devam et</span>
  </a>
</div>
